/* Put your css in here */

.chart {
 width: 1000px;
 height: 200px;
}

.ac-tooltip {
    color: black;
    border: 2px solid rgba(200,200,0,0.8);
    background-color: rgba(200,200,0,0.5);
}
#chart1 .ac-legend-box {
    border-radius: 10px;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
body {
    background-color: white;
    color: black;
    font: 12px Arial;
}
